/* Use your own code or past solution for Great Idea Web Page CSS here! */

* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;

}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.container{
	margin: auto;
	width: 50%;
}



/* Desktop */
/* Header */
header nav{
	display: flex;
	width: 100%;
}

header nav div{

}

.links{
	display:flex;
	width:75%;
    justify-content: space-between;
    
	
}

.links a{
    display: flex;
    align-items: flex-end;
	text-decoration: none;
	color:#b0bacc;
}

.logo {
    
    display: flex;
    justify-content: right;
    width: 30%;
}

.headInfo{
    display: flex;
    margin: 10%;
    
}

.headLeft{
    width: 40%;

    
}

.headLeft h1{
    font-size: 80px;
    text-align: center;
    line-height: 44%;
}

.getStarted{
    display: flex;
    justify-content: center;
}

.headLeft button{
    text-align: center;
    border: 1px solid black;
    background: white;
    padding: 10px 70px;
}

.headRight{
    width: 60%;

}

.headRight img{
    
    display: flex;
    margin: auto;
    
}



/* Main */

hr{
	margin: 3% 0;
}

.mainTop{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin: 3% 0;
}

.mainTop div{
	width: 45%;
}


.midImage{
	width: 100%;
	object-fit: cover;
	text-align: center;
}

.mainBottom{
	
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin: 3% 0;
}

.mainBottom div{
	width: 30%;
}

/* Footer */

footer p{
    margin: 5% 0%;
	text-align: center;
}

/* Tablet */

@media(max-width: 800px){
    .container{
        margin: auto;
        width: 100%;
    }
    
    header nav{
        flex-direction: column-reverse;
        
    }

    .links{
        width:100%;
        
    }

    .links a{
        
        padding: 2% 0;
        
    }

    .logo{
        display: flex;
        align-items: center;
        margin: 3% 0;
        width: 100%;
    }

    .logo img{
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .headInfo{
        margin: 7% 0 12%;
    }

    .headLeft{
        width: 100%;
        text-align: center;
    }

    .headLeft h1{
        font-size: 60px;
        text-align: center;
        line-height: 35%;
    }

   
    .headRight{
        display: none;
    }

}


/* Mobile */
@media(max-width: 500px){
    .container{
        margin: auto;
        width: auto;
    }

    /* Header */

    header nav{
        display: flex;
        flex-direction: column-reverse;
    }

    .links{
        display: flex;
        flex-direction: column;
     }

    .links a{
        justify-content: center;
        border-bottom: 1px solid ;
        width: 100%;
    }
 
    .logo{
        display: flex;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #b0bacc;
        padding: 4% 0; 
    }

    .headLeft{
        width: 100%;
    }

    .headLeft h1{
        font-size: 50px;
        text-align: center;
        line-height: 40%;
    }
    
    .getStarted{
        padding-bottom: 15%;
    }
    .headRight{
        display:none;
    }

    /* Main */

    .mainTop{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 3% 0;
    }

    .mainTop div{
        width: 100%;
    }

    .mainBottom{
	
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: 3% 0;
    }
    
    .mainBottom div{
        width: 100%;
    }
    
    /* Footer */

    footer p{
    margin: 20px 0%;
	text-align: center;
    }
}


